 .blockquote {
      font-family: Georgia, serif;
      font-size: 45px;
      font-style: italic;
      margin: 0.25em 0;
      padding: .75em .5em .75em 1em;
      line-height: 1.45;
      position: relative;
      color: #383838;
      border-left: 0.5em solid #DDD;
    }

    .blockquote:before {
      display: block;
      height: 0;
      content: "“";
      margin-left: -.81em;
      font: italic 400%/1 Cochin,Georgia,"Times New Roman", serif;
      color: #999;
    }
    .cite {
      color: #999999;
      font-size: 20px;
      font-style: italic;
      display: block;
      margin-top: 5px;
      float: right;
    }
    .tbutton{
       position: relative;
     
    }

    .list> li{
        padding: 9%;
        display:inline;
        font-size:28px;
        margin:-1px;
    }

    html,body {
      height: 100%;
    }
    body {
    display: flex;
    align-items: center;
    background-color: #fff;
    -webkit-animation: random 30s infinite;
    animation: random 30s infinite;
    }

    @keyframes  random {
        15% { background-color: aliceblue; } 
        30% { background-color: azure; } 
        45% { background-color: cornsilk; } 
        60% { background-color: floralwhite; }
        75% { background-color: whitesmoke; }  
    }

    #info {
      position: fixed;
      top: 7px;
      padding-left: 2%;
}

#timer{
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  border-width: 0 0 1px;
  height: 7px;
  background-color: #DDD;
  -webkit-box-shadow: none ;
	-moz-box-shadow: none;
	box-shadow: none !important;
}

#info-text{
  opacity:0.1;
  z-index: 1000;
}   