 .blockquote {
      font-family: Georgia, serif;
      font-size: 50px;
      font-style: italic;
      margin: 0.25em 0;
      padding: .75em .5em .75em 1em;
      line-height: 1.45;
      position: relative;
      color: #383838;
      border-left: 0.5em solid #DDD;
    }

    .blockquote:before {
      display: block;
      height: 0;
      content: "“";
      margin-left: -.81em;
      font: italic 400%/1 Cochin,Georgia,"Times New Roman", serif;
      color: #999;
    }
    .cite {
      color: #999999;
      font-size: 15px;
      font-style: italic;
      display: block;
      margin-top: 5px;
      float: right;
    }
    html,body {
      height: 100%;
    }
    body {
    display: flex;
    align-items: center;
    background-color: #fff;
    -webkit-animation: random 30s infinite;
    animation: random 30s infinite;
    }

    @keyframes  random {
        15% { background-color: aliceblue; } 
        30% { background-color: azure; } 
        45% { background-color: cornsilk; } 
        60% { background-color: floralwhite; }
        75% { background-color: whitesmoke; }  
    }

    #info {
      position: fixed;
      top: 0;
      padding-left: 2%;
}
    